src/lib/social/n8n-templates/ai-generate-and-schedule.json
{
  "name": "AI Generate and Schedule Social Posts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 9am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MUSEKIT_URL }}/api/social/generate-post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $env.MUSEKIT_SESSION_COOKIE }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"platform\": \"twitter\",\n  \"topic\": \"Your daily topic here - customize this field\",\n  \"style\": \"professional\"\n}",
        "options": {}
      },
      "id": "generate-post",
      "name": "AI Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MUSEKIT_URL }}/api/social/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $env.MUSEKIT_SESSION_COOKIE }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.content }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"scheduledAt\": \"{{ $now.plus(1, 'hour').toISO() }}\"\n}",
        "options": {}
      },
      "id": "schedule-post",
      "name": "Schedule Generated Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300]
    }
  ],
  "connections": {
    "Daily 9am Trigger": {
      "main": [
        [
          {
            "node": "AI Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Post": {
      "main": [
        [
          {
            "node": "Schedule Generated Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T00:00:00.000Z",
  "versionId": "1"
}
