src/lib/social/n8n-templates/auto-post-rss.json
{
  "name": "Auto-Post RSS Feed to Social Media",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        },
        "feedUrl": "={{ $env.RSS_FEED_URL }}",
        "options": {}
      },
      "id": "rss-trigger",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "post-content",
              "name": "postContent",
              "value": "={{ $json.title }} - {{ $json.link }}",
              "type": "string"
            },
            {
              "id": "platform",
              "name": "platform",
              "value": "twitter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-post",
      "name": "Format Post Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MUSEKIT_URL }}/api/social/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $env.MUSEKIT_SESSION_COOKIE }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.postContent }}\",\n  \"platform\": \"{{ $json.platform }}\"\n}",
        "options": {}
      },
      "id": "create-post",
      "name": "Create Social Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300]
    }
  ],
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Format Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Post Content": {
      "main": [
        [
          {
            "node": "Create Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T00:00:00.000Z",
  "versionId": "1"
}
