src/lib/social/n8n-templates/engagement-monitor.json
{
  "name": "Social Engagement Monitor with Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "hourly-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MUSEKIT_URL }}/api/social/posts?status=posted&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $env.MUSEKIT_SESSION_COOKIE }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-posts",
      "name": "Fetch Recent Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-posts-check",
              "leftValue": "={{ $json.posts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "low-engagement-check",
              "leftValue": "={{ $json.posts.filter(p => (p.engagement_data?.likes || 0) + (p.engagement_data?.shares || 0) + (p.engagement_data?.comments || 0) < 5).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-engagement",
      "name": "Has Posts With Low Engagement",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Low engagement alert: {{ $json.posts.filter(p => (p.engagement_data?.likes || 0) + (p.engagement_data?.shares || 0) + (p.engagement_data?.comments || 0) < 5).length }} of {{ $json.posts.length }} recent posts have low engagement (< 5 total interactions). Review your social dashboard.\",\n  \"channel\": \"#social-alerts\"\n}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Alert Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200]
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recent Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Posts": {
      "main": [
        [
          {
            "node": "Has Posts With Low Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Posts With Low Engagement": {
      "main": [
        [
          {
            "node": "Send Alert Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T00:00:00.000Z",
  "versionId": "1"
}
